@import './../../assets/scss/App.scss';


.choose {
    margin-block: 120px;

    @media (max-width:map-get($breakpoints, xl)) {
        margin-top: 10px;
        margin-block: 70px;
    }

    .choose-title {
        line-height: 49px;
        width: 242px;

        @media (max-width:map-get($breakpoints, xl)) {
            width: 100%;
            margin-block: 15px;
        }

        @media (max-width:map-get($breakpoints, md)) {
            font-size: 29px;
            line-height: 38px;
        }
    }

    .choose-text {
        font-family: 'Gilroy-Bold' !important;
        line-height: 28px;
        color: $title-text;
        opacity: 0.9;
        margin: 10px 0px;

        @media (max-width:map-get($breakpoints, md)) {
            font-size: 20px !important;
            line-height: 19px;
        }
    }

    .choose-sub-text {
        font-family: 'Gilroy-Regular';
        font-size: 16px;
        line-height: 185%;
        color: $title-text;
        margin: 10px 0px;
        opacity: 0.8;

        @media (max-width:map-get($breakpoints, md)) {
            font-size: 12px;
            line-height: 130%;
        }
    }

    .choose-footer {
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 185%;
        color: $bag-bg;
        @include flex;
        justify-content: space-between;
        width: 121px;
        margin: 4px 0px;

        @media (max-width:map-get($breakpoints, lg)) {
            margin: auto;
        }

        @media (max-width:map-get($breakpoints, md)) {
            width: 80px;
            font-size: 9px;

            img {
                height: 9px;
            }
        }
    }

}