@import './../../assets/scss/App.scss';

.hero {
  color: #ffffff;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 86.13%,
      #ffffff 100%),
    url("./../../assets/image/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 1084px;

  @include xl{
    min-height: 830px;
  }

  @include lg {
    min-height: 670px;
  }

  @include md {
    min-height: 580px;
    background-size: contain;
  }

  @include sm {
    min-height: 486px;
    background-size: cover;
  }

  @include xs {
    min-height: 426px;
  }

  .hero-box {
    // margin-top: 43px;
    margin-top: 86px;
    margin-bottom: 14px;

    @include xl{
      margin-top: 65px;
    }

    @include lg {
      margin-top: 35px;
    }

    @media (max-width:'674px') {
      margin-top: 11px;
    }

    @include sm {
      margin-top: 12px;
    }

    .hero-box_title {
      line-height: 130%;
      letter-spacing: -0.01em;
      text-transform: capitalize;
      width: 861px;

      @include xl{
        width: 661px;
        font-size: 45px !important;
        line-height: 118%;
      }

      @include lg {
        width: 527px;
        font-size: 35px !important;
      }

      @include sm {
        width: 360px;
        font-size: 29px !important;
      }

      @include xs {
        width: 306px;
        font-size: 23px !important;
      }
    }

    .hero-box_text {
      line-height: 38px;
      opacity: 0.8;
      width: 606px;

      @include xl{
        font-size: 15px !important;
        width: 406px;
        line-height: 30px;
      }

      @include lg {
        font-size: 13px !important;
        width: 299px;
        line-height: 24px;
      }

      @include sm {
        font-size: 11px !important;
        width: 259px;
        line-height: 15px;
      }

      @include xs {
        width: 211px;
      }
    }

    .hero-box_input {
      position: relative;
      margin-top: 45px;
      width: 344px;
      gap: 10px;
      border: 0.861538px solid rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(4px);
      border-radius: 42px;
      line-height: 150%;
      text-align: start;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.15);
      opacity: 0.8;
      flex: none;
      order: 0;
      flex-grow: 0;

      @include xl{
        margin-top: 16px;
      }

      @include lg {
        width: 269px;
      }

      @include sm {
        width: 218px;
      }

      @include xs {
        width: 171px;
      }

      input {
        border: none;
        background: transparent;
        margin: 15.5px 0px 15.5px 20px;
        color: white;

        @include xl{
          margin: 9.5px 0px 9.5px 20px;
        }

        @include lg {
          margin: 5.5px 0px 5.5px 20px;
          font-size: 13px;
        }

        @include sm {
          margin: 3.5px 0px 3.5px 20px;
          font-size: 12px;
        }

        @include xs {
          margin: 1.5px 0px 1.5px 20px;
          font-size: 10px;
        }
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        color: #FFFFFF;
        opacity: 0.8;

        @include lg {
          font-size: 13px;
        }

        @include sm {
          font-size: 12px;
        }

        @include xs {
          font-size: 10px;
        }
      }

      img {
        position: absolute;
        right: 3px;
        height: 46px;
        top: 4px;

        @include xl{
          height: 34px;
        }

        @include lg {
          height: 28px;
        }

        @include sm {
          height: 25px;
          top: 3px;
        }

        @include xs {
          height: 21px;
        }
      }
    }
  }
}