.hero {
  color: #ffffff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 86.13%,
      #ffffff 100%
    ),
    url("./../../assets/image/hero-bg.svg");
  background-size: cover;
  @media (max-width: "1200px") {
    background-size: contain;
  }
  background-repeat: no-repeat;
  background-position: top center;
  height: 1084px;
  .hero-box {
    // margin-top: 43px;
    margin-top: 86px;
    margin-bottom: 14px;

    .hero-box_title {
      line-height: 130%;
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }
    .hero-box_text {
      line-height: 38px;
      opacity: 0.8;
    }
    .hero-box_input {
      position: relative;
      input {
        width: 344px;
        padding: 8px 8px 8px 20px;
        gap: 10px;
        background: rgba(255, 255, 255, 0.15);
        border: 0.861538px solid rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);
        border-radius: 42px;
        line-height: 150%;
        text-align: start;
        color: #ffffff;
        opacity: 0.8;
        flex: none;
        order: 0;
        flex-grow: 0;
      }
      img {
        position: absolute;
        right: 3px;
        height: 36px;
        top: 3px;
      }
    }
  }
}
