@import '../../assets/scss/App.scss';


.testimonials {
    &-head {
        font-family: 'Gilroy-Bold';
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.175em;
        text-transform: uppercase;
        color: $bag-bg;
        margin-block: 10px;

        @include lg {
            font-size: 15px;
            line-height: 13px;
        }

        @include sm {
            font-size: 12px;
            line-height: 4px;
        }
    }

    &-title {
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        text-transform: capitalize;
        color: $title-text;
        margin-top: 10px;
        margin-bottom: 60px;

        @include lg {
            font-size: 34px;
            line-height: 35px;
        }

        @include sm {
            font-size: 29px;
            line-height: 27px;
            margin-bottom: 33px;
        }
    }

    .review-gallery {

        .client-card {
            position: relative;
            height: 476px;
            background-repeat: no-repeat !important;
            border-radius: 18.1182px;
            margin: auto;
            width: 98%;

            @include xl {
                width: 92%;
            }

            @include lg {
                width: 394px;
            }

            @include md {
                width: 432px;
            }

            @include sm {
                width: 389px;
            }

            @media (max-width:'440px') {
                width: 100%;
            }

            &_box {
                position: absolute;
                width: 334px;
                height: 239px;
                background: url('./../../assets/image/icon/Union.png');
                bottom: 18px;
                left: 34px;
                padding-top: 60px;
                text-align: center;

                @media (max-width:'440px') {
                    left: 8%;
                }

                @media (max-width:'404px') {
                    left: 9%;
                    width: 300px;
                    height: 240px;
                    background-position: center;
                    border-radius: 18.1182px;
                    background-size: contain;
                    height: 45%;
                }

                @media (max-width:'371px') {
                    left: 8%;
                    width: 306px;
                    height: 219px;
                }

                @media (max-width:'364px') {
                    left: 13%;
                    width: 260px;
                    height: 187px;
                }

                @media (max-width:'344px') {
                    left: 10%;
                }

                @media (max-width:'331px') {
                    left: 8.5%;
                }


            }

            &_avatar {
                position: absolute;
                top: -3px;
                left: 129px;

                @media (max-width:'404px') {
                    left: 37.5%;
                }

                @media (max-width:'364px') {
                    left: 37.5%;
                    height: 65px;
                }

            }

            &_title {
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                text-transform: capitalize;
                color: $title-text;
                margin-block: 5px;

                @media (max-width:'364px') {
                    font-size: 16px;
                    line-height: 11px;
                }
            }

            &_name {
                font-family: 'Gilroy-Regular';
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: $title-text;
                opacity: 0.6;

                @media (max-width:'364px') {
                    font-size: 10px;
                    line-height: 11px;
                }
            }

            &_review {
                font-family: 'Gilroy-Regular';
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: $title-text;
                opacity: 0.8;
                width: 252px;
                margin: auto;
                margin-block: 22px;

                @media (max-width:'404px') {
                    margin-block: 9px;
                }

                @media (max-width:'364px') {
                    font-size: 10px;
                    line-height: 16px;
                    width: 217px;
                }
            }

            &_rating {
                margin: auto;
                width: 100px;

                @media (max-width:'364px') {
                    width: 68px;
                }
            }
        }

        .slick-slider {
            padding-bottom: 10px;
            margin-bottom: 214px;

            @include md {
                margin-bottom: 107px;
            }

            .slick-arrow {
                background: #fff;
                background-position: center;
                width: 50px;
                height: 50px;
                z-index: 1;
                background-repeat: no-repeat;
                padding: 11.9565px;
                box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
                border-radius: 26.087px;
            }

            .slick-prev {
                background-image: url("../../assets/image/icon/prev-arrow.svg") !important;
                top: 39%;

                @include sm {
                    margin-left: 44px;
                }

                &::before {
                    content: none;
                }
            }

            .slick-next {
                background-image: url("../../assets/image/icon/next-arrow.svg") !important;
                margin-right: 30px;
                top: 39%;

                &::before {
                    content: none;
                }
            }
        }
    }
}